body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}
a {
    display: block;
    padding: 10px 10px 20px;
    margin: 5px;
    max-width: 500px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: left;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
button {
    margin-right: 20px;
    background-color: rgb(24, 115, 124);
    color: rgb(122, 184, 156);
    font-size: 20px;
    cursor: pointer;
}
h1 {
    background: linear-gradient(90deg, #a31987, #a618cd, #1963a3, #0da5c7);
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 5s linear infinite;
}
h2 {
    background: linear-gradient(90deg, #c78f0d, #dd6f08, #e14706);
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 5s linear infinite;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: orange;
}
#main {
    text-align: left;
}
@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}
div {
    padding: 20px;
    height: 80vh;
    text-align: center;
}
img {
    width: 150px;
    height: auto;
}
ul {
    list-style-type: none;
}
li {
    margin-bottom: 10px;
}