body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    display: block;
    padding: 10px 10px 20px;
    margin: 5px;
    max-width: 500px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}